<a href="https://colab.research.google.com/github/denny1018/bigdata/blob/main/%E3%80%8CIR_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [25]:
a <- 5 
b <- 3.8
c <- -1

In [26]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [20]:
is.numeric(a)
as.integer(b)

[1] TRUE

[1] 3

In [24]:
d <-"hello"
str(d)

 chr "hello"

In [32]:
e <- c(5,4,3,2,1)
f <- c("123","456","789")

In [33]:
e[c(1,2)]
f[c(2,3)]

[1] 5 4

[1] "456" "789"

In [34]:
h <-c(1,2,3,4,5,6,7,8,9)
i <-c(2,3,4,5,6,7,8,9,10)

In [35]:
h*i

[1]  2  6 12 20 30 42 56 72 90

In [36]:
h^i

[1]          1          8         81       1024      15625     279936    5764801
[8]  134217728 3486784401

In [37]:
h^3

[1]   1   8  27  64 125 216 343 512 729

In [39]:
h >= 1

[1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

In [44]:
gender <-c("男","女","男","女","中")

In [45]:
gender <-factor(gender)

In [46]:
gender
levels(gender)

[1] 男 女 男 女 中
Levels: 中 女 男

[1] "中" "女" "男"

In [49]:
i <-matrix(c(1:6),nrow=3,ncol=2)

In [50]:
i

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [53]:
j <-matrix(c(7:12),nrow=2,ncol=3)

ERROR: ignored

In [54]:
j

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [55]:
j[1,2]

[1] 9

In [56]:
j[,1]

[1] 7 8

In [62]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [63]:
library(SportsAnalytics)

In [64]:
NBA1516<-fetch_NBAPlayerStatistics("15-16")

In [65]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [66]:
head(NBA1516)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
6 NBA    Cole Aldrich  LAC  C        60           802
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
6 134            225                  0           0             ⋯ 47
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
6 64        68     139           1                 328         0
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17
6 0         0              5